<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            border: 1px solid #ccc;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

    </style>
    <title>Most Liked Reviews</title>
</head>
<body>
    <h1>Most Liked Reviews</h1>
    
    
    <div id="loader" class="loader"></div>

    <table>
        <thead>
            <tr>
                <th>Steam ID</th>
                <th>Review Text</th>
                <th>Number of Likes</th>
            </tr>
        </thead>
        <tbody>
            {% for review in top_liked_reviews %}
            <tr>
                <td>{{ review[0] }}</td>
                <td>{{ review[1] }}</td>
                <td>{{ review[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
      
        window.addEventListener("load", function () {
            document.getElementById("loader").style.display = "none";
        });
    </script>
</body>
</html>
